
/*********************************************************** Discussion board ********************************************************************/

.discussion-board-container,
.discussion-board-container + #Hero-WPQ2 {
	padding-left: 10px;
}


/* Discussion list */

.discussion-board-container .ms-listviewtable {
	margin-bottom: 10px;
}

.discussion-board-container .ms-vh,
.discussion-board-container .ms-vh2,
.discussion-board-container .ms-vh-icon,
.discussion-board-container .ms-vb,
.discussion-board-container .ms-vb2,
.discussion-board-container .ms-vb-tall,
.discussion-board-container .ms-vb-user {
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.discussion-board-container .ms-viewheadertr th,
.discussion-board-container .ms-viewheadertr th.ms-vh,
.discussion-board-container .ms-viewheadertr th.ms-vh2{
	padding: 0 6px;
	color: #781d7e;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #E8E8E8;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #E8E8E8;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #E8E8E8;
	background-color: #FBFBFB;
}

.discussion-board-container .ms-viewheadertr th:first-child {
	border-left-style: dotted;
	border-left-width: 1px;
	border-left-color: #E8E8E8;
}

.discussion-board-container .ms-viewheadertr th.ms-vh-icon {
	padding-bottom: 3px;
}

.discussion-board-container .ms-viewheadertr th a {
	color: #8A009D;
	text-decoration: underline;
}

.discussion-board-container .ms-viewheadertr th a:hover {
	color: #8A009D;
	text-decoration: none;
}

.discussion-board-container td.ms-vb {
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999;
	padding-top: 30px;
}

.discussion-board-container .ms-listviewtable a:link {
	text-decoration: underline;
	color: #8a009d;
}

.discussion-board-container tr.ms-itmhover a:hover {
	text-decoration: none !important;
	color: #8a009d !important;
}

.discussion-board-container tr.ms-itmhover a:visited {
	color: #da50ee !important;
}

.discussion-board-container .ms-listviewtable .ms-vb-title,
.discussion-board-container .ms-listviewtable .ms-vb-user,
.discussion-board-container .ms-listviewtable .ms-vb2 {
	padding: 8px 6px 4px;
	height: 33px;
}

.discussion-board-container .ms-listviewtable .ms-vb-itmcbx {
	padding: 6px;
}

.discussion-board-container .ms-listviewtable tr.ms-itmhover > td {
	border-top: 1px solid #e8e8e8;
	vertical-align: top;
}

.discussion-board-container .ms-listviewtable .ms-vb,
.discussion-board-container .ms-listviewtable .ms-vb2,
.discussion-board-container .ms-listviewtable .ms-vb-user,
.discussion-board-container .ms-listviewtable .ms-vb-tall,
.discussion-board-container .ms-listviewtable .ms-pb,
.discussion-board-container .ms-listviewtable .ms-pb-selected {
	color: #000;
}

.discussion-board-container .ms-vb-title .ms-vb {
    padding: 0 6px 4px 2px;
}


/* Add control */

.discussion-board-container + #Hero-WPQ2 .ms-partline {
    border-bottom: 1px solid #E8E8E8;
    height: 7px;
}

.discussion-board-container + #Hero-WPQ2  td.ms-addnew {
	padding-top: 8px;
	padding-left: 8px;
}

.discussion-board-container + #Hero-WPQ2  td.ms-addnew span.s4-clust {
	width: 24px !important;
	height: 16px !important;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/forum/forum_add_theme.png") no-repeat left top transparent;
}

.discussion-board-container + #Hero-WPQ2  td.ms-addnew span.s4-clust img {
	display: none;
}

.discussion-board-container + #Hero-WPQ2  a.ms-addnew {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    vertical-align: top;
	text-decoration: underline;
	color: #8a009d;
}

.discussion-board-container + #Hero-WPQ2 a.ms-addnew:hover {
	text-decoration: none;
	color: #8a009d;
}

.discussion-board-container + #Hero-WPQ2  a.ms-addnew:visited {
	color: #da50ee;
}



/************************************************************** Discussion ***********************************************************************/



.discussion-container {
	position: relative;
	margin-left: 1.6%;
	padding-top: 80px;
	display: block;
	width: 98.4%;
}

.discussion-container > tbody {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

body .discussion-board,
table.discussion-board td,
table.discussion-board div,
table.discussion-board td div {
	font-family: Tahoma,Geneva,sans-serif;
	color: #666;
	font-size: 12px;
}

.discussion-board .ms-disc-bordered-noleft .discussion-title {
	position: absolute;
	color: red;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/forum/header_bg.jpg");
	background-repeat: no-repeat;
	background-position: -16px -16px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	line-height: 38px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0 !important;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
}

.discussion-board .ms-disc-bordered-noleft .discussion-title > b {
	display: block;
	padding-left: 32px;
	background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/forum/icon_theme.png");
	background-repeat: no-repeat;
	background-position: left 7px;
	margin: 0 8px;
}

.discussion-board .ms-viewheadertr {
    display: block;
    margin: 8px 0;
    position: absolute;
    top: 40px;
    width: 100%;
}

.discussion-board .ms-viewheadertr  .ms-vb,
.discussion-board .ms-viewheadertr a {
	color: #6A9C39;
	text-decoration: none;
}

.discussion-board .ms-viewheadertr  td.ms-vb {
	padding-left: 8px !important;
}

.discussion-board .ms-viewheadertr .ms-vh2 {
	width: 70%;
	display: block;
	float: left;
	height: 24px;
	/*overflow: hidden;*/
}

.discussion-board .ms-viewheadertr .ms-vh2:first-child {
	width: 30%;
}

.discussion-board .ms-disc-padabove {
	padding: 0 8px;
	height: 32px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	line-height: 30px;
	color: #999;
	background-color: #F9F9F9;
	border: 1px solid #DBDBDB;
}

.discussion-board table.ms-disc-bar {
    background: none;
    border: 0 none;
}

.discussion-board table.ms-disc-bar td {
	padding: 0;
}

.discussion-board .anchor {
	font-size: 11px;
}

.discussion-board .created-date {
	color: #87BB55;
    font-size: 10px;
	line-height: 30px;
}

.discussion-board .reply_options {
	background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/forum/icon_options.png");
    background-position: 0 9px;
    background-repeat: no-repeat;
    margin-right: 16px;
    padding-left: 24px;
    color: #999999;
    line-height: 30px;
	font-size: 11px;
}

.discussion-board .reply_options  a {
	color: #999999;
	text-decoration: underline;
}

.discussion-board .reply_options  a:hover {
	text-decoration: none;
}

.discussion-board .reply_message {
	background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/forum/icon_reply.png");
    background-position: 2px 8px;
    background-repeat: no-repeat;
    padding-left: 24px;
    color: #999999;
    line-height: 30px;
    font-size: 11px;
}

.discussion-board .reply_message  a {
	color: #8A009E;
    font-weight: bold;
	text-decoration: underline;
	white-space: nowrap;
}

.discussion-board .reply_message  a:hover {
	text-decoration: none;
}

.discussion-board #replyButton {
	display: none;
}

.discussion-board table.ms-disc-bar B {
    padding-right: 0;
    vertical-align: inherit;
}

.discussion-board .ms-disc-bordered-noleft {
	padding: 8px 0 8px 18px;
}

.discussion-board .ms-disc-bordered {
    margin: 0;
	padding: 8px 0;
    border: 0 none;
    text-align: center;
	vertical-align: top;
    width: 150px;
	display: block;
}

.discussion-board .ms-disc-bordered > table {
	width: 143px;
	text-align: center;
	border-right: 1px solid #E5E5E5;
	padding: 0 3px;
}

.discussion-board .ms-disc-bordered > table > tbody > tr > td {
	padding: 0;
	padding-left: 0 !important;
	display: block;
	overflow: hidden;
	width: auto;
}

.discussion-board  td.ms-disc-bordered-noleft {
	border-left-width: 0;
	vertical-align: top;
}

.discussion-board  .ms-disc-bordered > table > tbody > tr > td[nowrap] {
	padding: 4px 0;
}
.discussion-board  .ms-disc-bordered > table > tbody > tr > td > table {
	width: 100%;
}
.discussion-board  .ms-disc-bordered > table > tbody > tr > td > table > tbody > tr > td:first-child {
	width: 96px;
	height: 96px;
}

.discussion-board  .ms-disc-bordered > table > tbody > tr > td > table > tbody > tr > td:first-child a {
	color: #8A009E;
}

.discussion-board  .ms-disc-bordered > table > tbody > tr > td > table > tbody > tr > td:first-child a:visited {
	color: #dA50eE;
}

.discussion-board  .ms-disc-bordered > table > tbody > tr > td > table > tbody > tr > td:first-child a img {
	width: 96px !important;
	height: 96px !important;
}

.discussion-board  .ms-disc-bordered > table > tbody > tr > td > table > tbody > tr > td[valign] {
	display: none;
}

.discussion-board  .ms-disc-bordered  span a {
	padding: 4px;
	margin: 0 auto;
	color: #6A9C39;
    display: block;
    font-weight: bold;
    text-decoration: none;
    width: 120px;
}

.discussion-board  .ms-disc-bordered  span a:hover {
	text-decoration: underline;
}

.discussion-board  .ms-disc-bordered nobr {
	white-space: pre-wrap;
}

.discussion-board .toggle-quoted-text {
	background-color: #F8F8F8;
	padding: 8px;
	border: 1px solid #EBEBEB;
	color: #999;
	font-size: 11px;
	margin-top: 12px;
}

.discussion-board .toggle-quoted-text a {
	display: block;
	height: 16px;
	padding-left: 18px;
	background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/forum/icon_show_quotes.png");
	background-repeat: no-repeat;
	background-position: left center;
	color: #8a009e;
	text-decoration: underline;
}

.discussion-board .toggle-quoted-text a:hover {
	text-decoration: none;
}

.discussion-board .toggle-quoted-text a:visited {
	color: #dA50eE;
}
