body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9pt;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

body #ribbon_line {
	width: 100%;
	text-align: left;
}

body .ms-wpadder {
	text-align: left;
}

body #s4-ribbonrow {
	width: 980px !important;
	height: auto !important;
	margin: 0 20px;
	padding: 0;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/system_header.jpg") /*no-*/repeat left -18px;
	min-height: 26px;
}

.ribbonbackground {
	background-color: #fff;
}

.ms-browseTab.ms-cui-tt-s > a.ms-cui-tt-a {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/toolbar-selector.gif");
}

.ms-cui-TabRowLeft {
	margin-top: 3px
}

.ms-siteactionsmenuinner {
    background: none;
	border: 1px solid transparent;
	margin-left: 3px;
}

.ms-siteactionsmenuhover {
    background: url("/_layouts/images/bgximg.png") repeat-x scroll 0 -489px transparent;
    border-color: #444;
	margin-left: 3px;
}

.ms-cui-tabContainer {
	border-width: 0;
	margin-bottom: 53px;
}

.ms-cui-topBar2 {
    border-bottom: 1px solid #CCCCCC;
	height: 26px;
}

.ms-cui-tts, .ms-cui-tts-scale-1, .ms-cui-tts-scale-2 {
	height: 27px;
}

.ms-cui-tt, .ms-cui-cg {
	height: 25px;
}

.ms-cui-tt-a {
	margin-top: 3px;
}

.ms-cui-cg-i{
	display: none;
}

.ms-cui-cg {
	margin: 3px 2px 0;
}

.ms-cui-ct-first .ms-cui-tt-a {
    border-left: 1px none transparent;
}

.ms-cui-ct-last .ms-cui-tt-a {
    border-right: 1px none transparent;
}

.ms-cui-tabBody {
    border-width: 0 1px 1px;
    border-color: #aaa;
    width: auto;
}

body #s4-workspace {
	width: 100% !important;
	overflow-x: auto;
}

body #s4-bodyContainer {
	margin: 0 20px;
	padding: 0px;
	width: 980px !important;
	background-color: #fff;
	display: inline-block;
	text-align: left;
}

#s4-titlerow {
	width: 980px !important;
	height: 144px;
}

#s4-titlerow .s4-titlerow {
	width: 100%;
	height: 91px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/header_top.jpg") left top no-repeat;
}

#s4-titlerow #logo {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/logo.png") no-repeat transparent;
    float: left;
    height: 48px;
    margin: 24px 0 0 37px;
    width: 140px;
}

#s4-titlerow .s4-pr{
	width: 177px !important;
	overflow: hidden;
}

#s4-bodyContainer .wrapper-inline {
	float: left;
	width: 22%;
}

#s4-bodyContainer .main-container {
	margin: 0 0 0 22%;
}

.ms-titlerowborder {
	border-right: 0 none;
}

.s4-breadcrumb-anchor:hover,
.s4-breadcrumb-anchor-open,
.ms-qatbutton:hover,
.ms-welcomeMenu.ms-SpLinkButtonActive {
    background: url("/_layouts/images/bgximg.png") repeat-x scroll 0 -489px transparent;
    border: 1px solid #444;
}

.s4-breadcrumb-anchor, .ms-qatbutton {
	padding: 3px 5px 2px;
}

#header_menu {
    width: 980px;
	height: 53px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/header_bottom.jpg") center top no-repeat;
}

#header_menu td.search {
	width: 177px;
	padding: 8px 8px 7px;
}

#header_menu .search,
#header_menu .search #s4-searcharea {
	width:  177px;
	height: 22px;
	overflow: hidden;
	border: 0 none;
	padding: 0;
	margin: 0;
}

#header_menu .ms-sbcell input {
	width: 148px !important;
	font-size: 12px;
}

#header_menu .search .s4-search table {
	margin: 0;
	padding: 0;
	width: 177px;	
}

.search .s4-search .srch-gosearchimg {
	/*background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/search_btn.png") left top no-repeat;*/
}

.s4-search input.ms-sbplain {
	background: #8ab500;
	border-color: #8ab500 !important;
	padding: 2px 3px 0px;
	color: #f3f3f3;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
}

.ms-sbplain {
    border-color: #8ab500 -moz-use-text-color #8ab500 #8ab500 !important;
    border-style: solid none solid solid !important;
    border-width: 1px medium 1px 1px !important;
}

#main_menu {
	position: relative;
	top: 1px;
	width: 100%;
	height: 38px;
	overflow: hidden;
}

#main_menu .static .menu-item {
	float: left;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	color: #f3f3f3;
	padding: 0 2px 0 7px;
	margin: 0;
	text-decoration: none;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/separator.png") right 50% no-repeat;
}

#main_menu .dynamic .menu-item {
	height: auto;
	font-size: 11px;
	font-weight: bold;
	color: #444;
	padding: 0;
	margin: 0;
	text-decoration: none;
	background: none;
	width: 100%;
}

#main_menu ul.dynamic {
	background-color: #f7f7f7;
	border: 1px solid #c0c0c0;
	padding: 5px 0 7px;
}

#main_menu .s4-topmenulinks, #main_menu .s4-topmenu, #main_menu .menu-horizontal, #main_menu li.static {
	height: 38px;
	margin: 0;
	padding: 0;
}

#main_menu .menu-horizontal {
	display: block;
}

#main_menu .static  > .additional-background {
	margin: 0 4px 0 0;
	padding: 11px 10px 1px 0;
	background-position: right 75%;
}

#main_menu .dynamic > .additional-background {
	margin: 0;
	padding: 6px 10px 5px;
}

#main_menu .static .menu-item-text {
	margin: 0;
	padding: 0 0 0 7px;
}

#main_menu .dynamic.menu-item:hover {
	background: #dcdcdc;
}

#main_menu .menu-item-1  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/1.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-2  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/2.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-3  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/3.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-4  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/4.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-5  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/5.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-6  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/6.png") left bottom no-repeat; padding-left: 18px; }
 
#mriyaCC
{
	float: left;
	border-width: 0px;
	margin-top: 22px;
	margin-left: 20px;
	vertical-align: middle;
}

#bottommenu
{
	float: right;
	border-width: 0px;
	margin-top: 22px;
	margin-right: 0px;
	vertical-align: middle;
}

#right_header_block {
	float: right;
	text-align: right;
	margin: 9px 1px 0 0;
	max-width: 790px;
	max-height: 28px;
}

#right_header_block #user_info {
	height: 28px;
}

#right_header_block table {
	display: inline-block;
}

#user_info a {
	font-size: 10px;
	font-weight: normal;
}

.nightandday .ms-mini-socialNotif-Container {
    background-image: none;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}

.nightandday .s4-trc-container-menu {
    font-weight: bold;
    height: auto;
    margin-top: 4px;
}

.s4-trc-container-menu {
    float: left;
    margin: 0;
}


/* Left menu */

.menu ul {
    list-style: none outside none;
}

.nightandday .bottom-menuplace-container {
	width: 100%;
	color: #781D7E;
    font-family: "Trebuchet MS","Times New Roman",Times,serif;
}

.nightandday #s4-leftpanel {
    margin-left: 0;
    width: 100%;
}

#s4-leftpanel .nightanday-menu {
    font-size: 10pt;
    line-height: 1.25em;
    margin: 10px 15px 0;
}

.nightanday-menu ul.root a {
    color: #781D7E;
    font-size: 13px;
    font-weight: bold;
}

.nightanday-menu a {
    padding: 3px 3px 3px 0;
    text-decoration: none;
    border-bottom: 1px solid #99839A;
    cursor: pointer;
}

.menu a.menu-item span {
    cursor: pointer;
}

.nightanday-menu span {
    display: block;
    padding: 3px 3px 3px 0;
    text-decoration: none;
}

.menu-vertical .menu-item-text {
    overflow: hidden;
    word-wrap: break-word;
}

.nightanday-menu ul.root ul.static a {
    background-image: none;
    border-color: -moz-use-text-color -moz-use-text-color #CCC1CC;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #781D7E;
    font-size: 0.9em;
    font-weight: normal;
    padding: 2px 5px 1px;
}

.nightanday-menu a.selected.static.menu-item {
    color: #000000;
}

.nightanday-menu ul.dynamic {
	background-color: #f0f0f0;
	border: 0px none;
	padding: 0;
	margin-left: 2px;
}


/* Footer */

#footer_space {
	height: 195px;
	clear: both;
}

#footer {
	background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/footer_bg.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 195px;
	width: 980px;
	margin-top: -195px;
	margin-right: auto;
	margin-left: auto;
}
#footer_links {
	padding-top: 80px;
	padding-left: 25px;
	font-size: 11px;
	font-weight: bold;
}
#footer_links ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
	float: left;
}
#footer_links ul li {
	height: 24px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #84b151;
	display: block;
	width: 200px;
	line-height: 22px;
}
#footer_links ul li:first-child {
	border-top-style: none;
}
#footer_links ul li a {
	display: block;
	padding-left: 25px;
	color: #eaffb7;
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration: none;
}
#footer_links ul li a:hover {
	color: #FFF;
}
#footer_logos {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}
#footer_logos a {
	margin-right: 4px;
}

#footer .menu-item-1 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/1.png"); }
#footer .menu-item-2 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/2.png"); }
#footer .menu-item-3 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/3.png"); }
#footer .menu-item-4 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/4.png"); }
#footer .menu-item-5 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/5.png"); }
#footer .menu-item-6 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/6.png"); }
