body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9pt;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

body #ribbon_line {
	width: 100%;
	text-align: left;
}

body .ms-wpadder {
	text-align: left;
}

body #s4-ribbonrow {
	width: 980px !important;
	height: auto !important;
	margin: 0 20px;
	padding: 0;
	background: transparent;
	min-height: 26px;
}

body a img {
	border: 0 none;
}

.ribbonbackground {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/toolbar_gradient.png") repeat-x left top transparent;
}

.ms-browseTab.ms-cui-tt-s > a.ms-cui-tt-a {
	background: transparent;
	border-color: transparent;
}

.ms-cui-TabRowLeft {
	margin-top: 3px;
	border-color: #8c8c8c;
}

.ms-siteactionsmenuinner .ms-menu-a,
.ms-siteactionsmenuhover .ms-menu-a {
    margin-right: 3px;
}

.ms-siteactionsmenu .ms-viewselector-arrow {
	width: 7px !important;
	height: 4px !important;
	margin: 6px 0 1px;
	background: url("/_layouts/images/fgimg.png") no-repeat scroll 0 -330px transparent;
}

.ms-siteactionsmenu .ms-viewselector-arrow img{
	width: 0 !important;
	height: 0 !important;
}

#Ribbon.Read-title {
	border-width: 0px;
	background: transparent;
}

.ms-siteactionsmenuinner {
    background: none;
	border: 1px solid transparent;
	margin-left: 3px;
}

.ms-siteactionsmenuhover {
    background: url("/_layouts/images/bgximg.png") repeat-x scroll 0 -489px transparent;
    border-color: #444;
	margin-left: 3px;
}

.ms-cui-tabContainer {
	border-width: 0;
}

.ms-cui-topBar2 {
    border-bottom: 1px solid #8c8c8c;
	height: 26px;
}

.ms-siteactionsmenuinner,
.ms-siteactionsmenuhover {
	height: 16px;
}

.ms-siteactionsmenu > span > a {
    color: #222;
}

.ms-cui-tts, .ms-cui-tts-scale-1, .ms-cui-tts-scale-2 {
	height: 27px;
}

.ms-cui-tt, .ms-cui-cg {
	height: 25px;
}

.ms-cui-tt-a {
	margin-top: 3px;
	color: #777 !important;
}

.ms-cui-cg-i{
	display: none;
}

.ms-cui-cg {
	margin: 3px 2px 0;
}

.ms-cui-tt-s > .ms-cui-tt-a {
    background-color: #fefefe;
    border-color: #8c8c8c;
}

.ms-cui-tt-a:hover {
    border-color: #acacac;
    color: #777 !important;
}

.ms-cui-tt-s .ms-cui-tt-a:hover {
    border-color: #8c8c8c;
    color: #222 !important;
}

.ms-cui-ct-first .ms-cui-tt-a {
    border-left: 1px none transparent;
}

.ms-cui-ct-last .ms-cui-tt-a {
    border-right: 1px none transparent;
}

.ms-cui-tabBody {
    border-width: 0 1px 1px;
    border-color: #aaa;
    width: auto;
	height: 109px;
	background-position: 0 -527px;
}

.ms-cui-group {
	height: 109px;
}

.ms-cui-groupContainer {
    height: 109px;
    vertical-align: top;
}

.ms-cui-groupSeparator {
	height: 101px;
}

.ms-cui-groupBody {
	height: 75px;
	padding-top: 7px;
}

.ms-cui-groupTitle {
    padding-top: 7px;
}

body #s4-workspace {
	width: 100% !important;
	overflow-x: auto;
}

body #s4-bodyContainer {
	margin: 0 auto;
	padding: 0px;
	width: 1020px !important;
	min-height: 100%;
}

body #s4-bodyContainer #bodyContent {
	margin: 0 20px;
	padding: 0;
	width: 980px !important;
	background-color: #fff;
	text-align: left;
	position: relative;
}

body #s4-bodyContainer #bodyContent .body-wrapper {
	padding-top: 20px;
}

#s4-titlerow {
	width: 980px !important;
	height: 110px;
}

#s4-titlerow .s4-titlerow {
	width: 100%;
	height: 71px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/header_middle.jpg") left top no-repeat;
}

#s4-titlerow #logo {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/logo.png") no-repeat transparent;
    float: left;
    height: 48px;
    margin: 11px 0 0 37px;
    width: 140px;
}

#s4-titlerow .s4-pr{
	width: 177px !important;
	overflow: hidden;
}

#s4-bodyContainer .wrapper-inline {
	float: left;
	width: 22%;
}

#s4-bodyContainer .main-container {
	margin: 0 0 0 22%;
}

.welcome-content {
	margin: 0;
}

.ms-titlerowborder {
	border-right: 0 none;
}

.s4-breadcrumb-anchor:hover,
.s4-breadcrumb-anchor-open,
.ms-qatbutton:hover,
.ms-welcomeMenu.ms-SpLinkButtonActive {
    background: url("/_layouts/images/bgximg.png") repeat-x scroll 0 -489px transparent;
    border: 1px solid #444;
}

.s4-breadcrumb-anchor, .ms-qatbutton {
	padding: 3px 5px 0;
}

#header_menu {
    width: 980px;
	height: 39px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/header_menu_zone.jpg") center top no-repeat;
}

#header_menu td.search {
	width: 177px;
	padding: 3px 8px 2px;
}

#header_menu .search,
#header_menu .search #s4-searcharea {
	width:  177px;
	height: 22px;
	overflow: hidden;
	border: 0 none;
	padding: 0;
	margin: 0;
}

#header_menu .ms-sbcell input {
	width: 148px !important;
	font-size: 12px;
}

#header_menu .search .s4-search table {
	margin: 0;
	padding: 0;
	width: 177px;	
}

.search .s4-search .srch-gosearchimg {
	/*background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/search_btn.png") left top no-repeat;*/
}

.s4-search input.ms-sbplain {
	background: #8ab500;
	border-color: #8ab500 !important;
	padding: 2px 3px 0px;
	color: #f3f3f3;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
}

.ms-sbplain {
    border-color: #8ab500 -moz-use-text-color #8ab500 #8ab500 !important;
    border-style: solid none solid solid !important;
    border-width: 1px medium 1px 1px !important;
}

#main_menu {
	position: relative;
	top: 1px;
	width: 100%;
	height: 28px;
	overflow: hidden;
}

#main_menu .static .menu-item {
	float: left;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	color: #f3f3f3;
	padding: 0 2px 0 7px;
	margin: 0;
	text-decoration: none;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/separator.png") right 50% no-repeat;
}

#main_menu .dynamic .menu-item {
	height: auto;
	font-size: 11px;
	font-weight: bold;
	color: #444;
	padding: 0;
	margin: 0;
	text-decoration: none;
	background: none;
	width: 100%;
}

#main_menu ul.dynamic {
	background-color: #f7f7f7;
	border: 1px solid #c0c0c0;
	padding: 5px 0 7px;
	margin-top: 2px;
}

#main_menu .s4-topmenulinks, #main_menu .s4-topmenu, #main_menu .menu-horizontal, #main_menu li.static {
	height: 28px;
	margin: 0;
	padding: 0;
}

#main_menu .menu-horizontal {
	display: block;
}

#main_menu .static  > .additional-background {
	margin: 0 4px 0 0;
	padding: 6px 10px 1px 0;
	background-position: right 75%;
}

#main_menu .dynamic > .additional-background {
	margin: 0;
	padding: 6px 10px 5px;
}

#main_menu .static .menu-item-text {
	margin: 0;
	padding: 0 0 0 7px;
}

#main_menu .dynamic.menu-item:hover {
	background: #dcdcdc;
}

#main_menu .menu-item-1  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/1.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-2  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/2.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-3  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/3.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-4  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/4.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-5  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/5.png") left bottom no-repeat; padding-left: 18px; }
#main_menu .menu-item-6  > .additional-background  { background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/6.png") left bottom no-repeat; padding-left: 18px; }
 
#mriyaCC {
	float: left;
	border-width: 0px;
	margin-top: 22px;
	margin-left: 20px;
	vertical-align: middle;
}

#bottommenu {
	float: right;
	border-width: 0px;
	margin-top: 22px;
	margin-right: 0px;
	vertical-align: middle;
}

#right_header_block {
	float: right;
	text-align: right;
	margin: 7px 1px 0 0;
	max-width: 790px;
	max-height: 28px;
}

#right_header_block #user_info {
	height: 28px;
}

#right_header_block table {
	display: inline-block;
}

#user_info a {
	font-size: 10px;
	font-weight: normal;
}

.nightandday .ms-mini-socialNotif-Container {
    background-image: none;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}

.nightandday .s4-trc-container-menu {
    font-weight: bold;
    height: auto;
    margin-top: 4px;
}

.s4-trc-container-menu {
    float: left;
    margin: 0;
}

.s4-ctx > a {
	line-height: inherit;
	vertical-align: middle;
}


/* Left menu */

.menu-vertical .menu-item-text {
    overflow: hidden;
    word-wrap: break-word;
}

.nightanday-menu ul.dynamic {
	background-color: #f0f0f0;
	border: 0px none;
	padding: 0;
	margin-left: 2px;
}

body #s4-leftpanel {
	width: 88%;
	margin: 0 4% 0 0;
	padding: 16px 4%;
	background-color: #eeeeee;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#ebebeb');
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#ebebeb));
	background: -moz-linear-gradient(top,  #fbfbfb,  #ebebeb);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border: solid 1px #ebebeb;
	-moz-box-shadow: 0px 1px 0px #9d9d9d;
	-webkit-box-shadow: 0px 1px 0px #9d9d9d;
	box-shadow: 0px 1px 0px #9d9d9d;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 4px;
	color: #87009b;
}

#s4-leftpanel .menu-vertical  ul {
	padding: 0px;
	line-height: 32px;
	margin: 0px;
	list-style-type: none;
}

#s4-leftpanel .menu-vertical  ul li {
	display: block;
	padding-left: 16px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e0e0e0;
	background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/submenu_list_dot.gif");
	background-repeat: no-repeat;
	background-position: 6px 15px;
}

#s4-leftpanel .menu-vertical  ul li:first-child {
	border: none;
}

#s4-leftpanel .menu-vertical  > ul > li.selected {
	padding-left: 0px;
	text-indent: 16px;
}

#s4-leftpanel .menu-vertical  ul li ul li {
	margin: 0px;
	padding: 0px 0px 0px 8px;
	text-indent: 0px;
	background-image: url(none);
	border: none;
}

#s4-leftpanel .menu-vertical  ul li.selected ul li {
	padding: 0px 0px 0px 24px;
}

#s4-leftpanel .menu-vertical  ul /*.selected*/ ul li:first-child {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e0e0e0;
}

#s4-leftpanel .menu-vertical  a {
	color: #8a009d;
	text-decoration: none;
}

#s4-leftpanel .menu-vertical  a:hover {
	text-decoration: underline;
}

#s4-leftpanel .menu-vertical  ul li.selected a{
	color: #6bac06;
	font-weight: bold;
}

#s4-leftpanel .menu-vertical  ul .selected ul li a {
	font-weight: normal;
	color: #8a009e;
}

#s4-leftpanel .s4-recentchanges {
    border-width: 0;
    margin: 0;
    padding: 0;
}

#s4-leftpanel .s4-ql ul.root > li > .menu-item {
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    font-size: 1em;
    margin: 0;
    padding: 0;
}



/* Footer */

#footer_space {
	height: 195px;
	clear: both;
}

#footer {
	background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/footer_bg.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 195px;
	width: 980px;
	margin-top: -195px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 10;
}
#footer_links {
	padding-top: 80px;
	padding-left: 25px;
	font-size: 11px;
	font-weight: bold;
}
#footer_links ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
	float: left;
}
#footer_links ul li {
	height: 24px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #84b151;
	display: block;
	width: 200px;
	line-height: 22px;
}
#footer_links ul li:first-child {
	border-top-style: none;
}
#footer_links ul li a {
	display: block;
	padding-left: 25px;
	color: #eaffb7;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	text-decoration: none;
}
#footer_links ul li a:hover {
	color: #FFF;
}
#footer_logos {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}
#footer_logos a {
	margin-right: 4px;
}
#footer_logos img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

#footer .menu-item-1 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/1.png"); }
#footer .menu-item-2 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/2.png"); }
#footer .menu-item-3 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/3.png"); }
#footer .menu-item-4 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/4.png"); }
#footer .menu-item-5 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/5.png"); }
#footer .menu-item-6 { background-image: url("/sites/mriya/SiteCollectionImages/Mriya Theme/nav_icons/6.png"); }



/* Dialog view */

.ms-dialog .ribbonbackground {
	background-image: none;
}
.ms-dialog .ribbonbackground #ribbon_line {
	margin: 0 5px 5px;
}
.ms-dialog body #s4-bodyContainer,
.ms-dialog body #s4-bodyContainer #bodyContent {
	width: auto !important;
	padding: 0;
	margin: 0;
}
.ms-dialog body #s4-bodyContainer #bodyContent .body-wrapper {
	padding-top: 0;
}
.ms-dialog body #s4-bodyContainer .main-container {
	margin: 0;
	padding: 0;
}
.ms-dialog .ms-ButtonHeightWidth {
	margin: 0 8px 6px 0;
}
.ms-dialog body #s4-ribbonrow {
	margin: 0;
}
