#body {
	width: 100%;
	padding: 0;
	overflow: hidden;
}

#clmn_left {
	float: left;
	width: 460px;
	overflow: hidden;
}

#clmn_right {
	width: 500px;
	padding: 0 0 0 20px;
	overflow: hidden;
}

#top_block {
	width: 100%;
	overflow: hidden;
}

#top_block, #advertisement_zone, #panel_zone {
	max-height: 179px;
}

#middle_block {
	width: 100%;
	overflow: hidden;
	padding-bottom: 1px;
}

#bottom_block {
	width: 100%;
	overflow: hidden;
}

.left_column {
	float: left;
	width: 240px;
	overflow: hidden;
}

.right_column {
	float: left;
	width: 240px;
	padding: 0 0 0 20px;
	overflow: hidden;
}

div.welcome {
	padding: 0 !important;
}

img {
	border: none;
}

a {
	color: #06348b;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	color: #88019b;
	margin-top: 16px;
	margin-bottom: 10px;
	text-align: left;
	padding-left: 25px;
}

h1.news  {
	padding-left: 0px;
	margin-bottom: 0px;
}

h1.news a {
	color: #88019b;
	text-decoration: none;
	padding-left: 25px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/2.gif") left 80% no-repeat;
}

h1.celebrating {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/4.gif") left 50% no-repeat;
}

h1.advertisement {
	padding-left: 0px;
	margin-top: 0px;
}

h1.advertisement a {
	color: #88019b;
	text-decoration: none;
	padding-left: 25px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/1.gif") left 80% no-repeat;
}

h1.photo {
	padding-left: 0px;
}

h1.photo a {
	color: #88019b;
	text-decoration: none;
	padding-left: 25px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/7.gif") left 80% no-repeat;
}

h1.move {
	padding-left: 0px;
}

h1.move a {
	color: #88019b;
	text-decoration: none;
	padding-left: 25px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/9.gif") left 80% no-repeat;
}

h1.discussion {
	padding-left: 0px;
	margin-top: 28px;
}

h1.discussion a {
	color: #88019b;
	text-decoration: none;
	padding-left: 25px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/5.gif") left 80% no-repeat;
}

h1.new_employees {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/6.gif") left 80% no-repeat;
}

h1.map {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/8.gif") left 80% no-repeat;
}

h1.news a:visited, h1.news a:hover,
h1.advertisement a:visited, h1.advertisement a:hover,
h1.photo a:visited, h1.photo a:hover,
h1.move a:visited, h1.move a:hover,
h1.discussion a:visited, h1.discussion a:hover {
	color: #88019b;
	text-decoration: none;
}

h3 {
	font-size: 13pt;
	font-weight: normal;
	color: #88019b;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

.web_part_zone {
	padding: 0;
	margin: 0;
}

#advertisement_zone {
	overflow: hidden;
	width: 100%;
}

#baner_zone {
	margin-bottom: 0;
}

#celebrating_zone .employee_table_list .ecard_photo_img {
	background: #dee5c4;
}

#new_employees_zone .employee_table_list .ecard_photo_img {
	background: #e8d3e4;
}



/* Advertisement */

#advertisement_zone  .advert_block {
    font-family: Tahoma,Geneva,sans-serif;
    padding: 10px;
}

#advertisement_zone .advert_block.even {
	background-color: #eeeeee;
}

#advertisement_zone .advert_block .date {
    color: #8F10A2;
    font-size: 10px;
	font-weight: normal;
    padding-bottom: 12px;
    padding-top: 4px;
}

#advertisement_zone .advert_block a {
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}



/* Discussion */

#discussion_zone {
	background-color: #eeeeee;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#ebebeb');*/
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#ebebeb));
	background: -moz-linear-gradient(top,  #fbfbfb,  #ebebeb);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border: solid 1px #ebebeb;
	-moz-box-shadow: 0px 1px 0px #9d9d9d;
	-webkit-box-shadow: 0px 1px 0px #9d9d9d;
	box-shadow: 0px 1px 0px #9d9d9d;
	padding: 16px 8px;
	font-size: 11px;
	line-height: 14px;
	padding-bottom: 4px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	color: #000;
}

#discussion_zone .ms-WPBody {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
}

#discussion_zone .discussion_post {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 16px;
	padding-bottom: 8px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
}

#discussion_zone .discussion_post.first {
	margin-top: 0px;
	padding-top: 0px;
	border-top: none;
}

#discussion_zone .discussion_post h3 {
	margin-bottom: 3px;
}

#discussion_zone h3 a {
	font-size: 12px;
	font-weight: normal;
	color: #88009c;
	text-decoration: none;
}

#discussion_zone a {
	color: #000;
	text-decoration: none;
}

#discussion_zone a:hover {
	text-decoration: underline;
}

#discussion_zone .ms-PartSpacingVertical {
	margin-top: 0px;
}

#discussion_zone .discussion_timestamp {
	display: inline;
	color: #666;
}


	
/* News */

.news_block {
	max-height: 155px;
	overflow: hidden;
	text-align: left;
	padding: 15px 0;
}

.news_block .news_image {
	display: block;
	float: left;
	padding: 0;
	margin: 0 18px 0 0;
}

.news_block  a.news_header_link {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 17px;
	font-weight: normal;
	color: #88009C;
	margin: 0;
	text-align: left;
	text-decoration: none;
	line-height: 20px;
}

.news_block  .news_date {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 10px;
	color: #87BB55;
	line-height: 22px;
}

.news_block  .news_text {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 11px;
    color: #000;
    padding: 0;
    margin: 6px 0 0;
    overflow: hidden;
}
