#body {
	width: 100%;
	padding: 18px 0 0 0;
	overflow: hidden;
}

#clmn_left {
	float: left;
	width: 440px;
	overflow: hidden;
}

#clmn_middle {
	float: left;
	width: 290px;
	padding: 0 0 0 5px;
	overflow: hidden;
}

#clmn_right {
	width: 240px;
	padding: 0 0 0 5px;
	overflow: hidden;
}

div.welcome {
	padding: 0 !important;
}

img {
	border: none;
}

a {
	color: #06348b;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 22px;
	font-weight: normal;
	color: #88019b;
	margin-top: 16px;
	margin-bottom: 10px;
	text-align: left;
	padding-left: 25px;
}

h1.news  {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/2.gif") left 80% no-repeat;
}

h1.celebrating {
	margin-top: 0px;
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/4.gif") left 50% no-repeat;
}

h1.industry_news {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/3.gif") left 80% no-repeat;
}

h1.advertisement {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/1.gif") left 80% no-repeat;
}

h1.photo {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/7.gif") left 80% no-repeat;
}

h1.move {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/9.gif") left 80% no-repeat;
}

h1.communication {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/5.gif") left 80% no-repeat;
}

h1.new_employees {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/6.gif") left 80% no-repeat;
}

h1.map {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/8.gif") left 80% no-repeat;
}

h3 {
	font-size: 13pt;
	font-weight: normal;
	color: #88019b;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

.news_block {
	padding-bottom: 16px;
	overflow: hidden;
}
.news_block img {
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
}
.news_description {
	max-height: 150px;
	overflow: hidden;
	text-align: left;
}
.news_description  span {
	font-size: 8pt;
	color: #87bb56;
}

.photo_block, .move_block {
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
	overflow: hidden;
	max-height: 120px;
}
.photo_block .image, .move_block  .image {
	max-width: 200px;
}

.advert_list .date {
	width: 60px;
	font-size: 8pt;
	color: #87bb56;
	vertical-align: top;
	padding-top: 2px;
}
.advert_list .text {
	padding-left: 8px;
	font-size: 10pt;
}

.map_block {
	padding-bottom: 16px;
}

.new_employee_row {
    margin: 10px 0 0 0;
	padding: 0;
	min-width: 200px;
}
.new_employee_col {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
	min-width: 100px;
}
.new_employee_block {
    margin: 0 6px 8px 6px;
	padding: 0;
	width: 90px;
	min-height: 114px;
	text-align: center;
	font-size: 9pt;
	display: inline-block;
}
.new_employee_block img, .birthday_block img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.new_employee_block a {
	margin-top: 2px;
	color: #87bb56;
	text-decoration: none;
}

.birthday_row {
    margin: 0;
	padding: 0;
	min-width: 200px;
}
.birthday_col {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.birthday_block {
    min-height: 70px;
	text-align: center;
	background-color: #fff;
	padding-top: 4px;
	margin-right: 0px;
	padding-bottom: 4px;
	padding-left: 4px;
	width: 66px;
	display: inline-block;
}
.birthday_image {
	display: inline-block;
	width: 44px;
	height: 44px;
	padding: 3px;
	overflow: hidden;
	background: #dee5c4;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.birthday_block  a {
	font-size: 10px;
	color: #87bb56;
	text-decoration: none;
}
.post_all {
	text-align: right;
	margin-top: 8px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCC;
	clear: both;
	padding: 8px;
	margin-bottom: 16px;
}

.industry_news_block {
	width: 90%;
	margin: 10px 0;
	padding-bottom: 10px;
}
.industry_news_block h4 {
	font-weight: bold;
	color: #444;
	margin-bottom: 0px;
}
.industry_news_block p {
	margin: 0;
}

.banner {
	padding-bottom: 10px;
	text-align: left;
}
.panel {
	text-align: center;
}

/* News styles for old html */

#output2 > div {
	max-height: 150px !important;
	overflow: hidden !important;
	text-align: left !important;
	padding: 0 !important;
    margin: 0 0 32px !important;
}

#output2 > div > div:first-child {
	display: block;
	padding: 0 !important;
	margin-right: 16px !important;
	margin-bottom: 16px !important;
}

#output2 > div > div {
	display: none;
}

#output2 > div > a {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 13pt !important;
	font-weight: normal !important;
	color: #88019b !important;
	margin: 0 !important;
	text-align: left !important;
	text-decoration: none !important;
}

#output2 > div > span {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 8pt !important;
	color: #87BB56 !important;
}

#output2 > div > p {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 9pt !important;
    color: #222 !important;
    padding: 0 !important;
    margin: 6px 0 0 !important;
    overflow: hidden !important;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}


/* New employees */

.employee_table_list {
	width: 100%;
	font-family: Tahoma,Geneva,sans-serif;
}

.employee_table_list .ecard_padd {
	display: inline-block;
    font-size: 9pt;
    margin: 0 6px 2px;
    min-height: 114px;
    padding: 0;
    text-align: center;
    width: 90px;
}

.employee_table_list .ecard_padd a {
    color: #87BB56;
    margin-top: 2px;
    text-decoration: none;
}

.employee_table_list .ecard_photo_img img {
	width: 80px;
	height: 80px;
    border-style: none;
}

.employee_table_list .ecard_shad_bttm_lft,
.employee_table_list .ecard_shad_bttm_rgt,
.employee_table_list .ecard_txt_position {
	display: none;
}

.refresh {
	width: 100%;
	text-align: right;
	border-top: 1px dashed #aaa;
	padding-top: 8px;
}