#body {
	width: 100%;
	padding: 18px 0 0 0;
	overflow: hidden;
}

#clmn_left {
	float: left;
	width: 460px;
	overflow: hidden;
}

#clmn_middle {
	float: left;
	width: 240px;
	padding: 0 0 0 20px;
	overflow: hidden;
}

#clmn_right {
	width: 240px;
	padding: 0 0 0 20px;
	overflow: hidden;
}

div.welcome {
	padding: 0 !important;
}

img {
	border: none;
}

a {
	color: #06348b;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	color: #88019b;
	margin-top: 16px;
	margin-bottom: 10px;
	text-align: left;
	padding-left: 25px;
}

h1.news  {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/2.gif") left 80% no-repeat;
}

h1.celebrating {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/4.gif") left 50% no-repeat;
}

h1.industry_news {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/3.gif") left 80% no-repeat;
}

h1.advertisement {
	/*background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/1.gif") left 80% no-repeat;*/
	margin-top: 0px;
	padding-left: 0px;
}

h1.photo {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/7.gif") left 80% no-repeat;
}

h1.move {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/9.gif") left 80% no-repeat;
}

h1.communication {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/5.gif") left 80% no-repeat;
}

h1.new_employees {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/6.gif") left 80% no-repeat;
}

h1.map {
	background: url("/sites/mriya/SiteCollectionImages/Mriya Theme/icons/8.gif") left 80% no-repeat;
}

h3 {
	font-size: 13pt;
	font-weight: normal;
	color: #88019b;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

.web_part_zone {
	padding: 0;
	margin: 0;
}

#advertisement_zone {
	overflow: hidden;
	width: 100%;
	height: 190px;
}

#baner_zone {
	margin-bottom: 24px;
}

.advert_list .date {
	width: 60px;
	font-size: 8pt;
	color: #87bb56;
	vertical-align: top;
	padding-top: 2px;
}
.advert_list .text {
	padding-left: 8px;
	font-size: 10pt;
}

.industry_news_block {
	width: 90%;
	margin: 10px 0;
	padding-bottom: 10px;
}
.industry_news_block h4 {
	font-weight: bold;
	color: #444;
	margin-bottom: 0px;
}
.industry_news_block p {
	margin: 0;
}


/* News styles for old html */

#output2 > div {
	max-height: 155px !important;
	overflow: hidden !important;
	text-align: left !important;
	padding: 0 !important;
    margin: 0 0 26px !important;
}

#output2 > div > div:first-child {
	display: block;
	padding: 0 !important;
	margin: 5px 16px 16px 0 !important;
}

#output2 > div > div {
	display: none;
}

#output2 > div > a {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 13pt !important;
	font-weight: normal !important;
	color: #88019b !important;
	margin: 0 !important;
	text-align: left !important;
	text-decoration: none !important;
}

#output2 > div > span {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 8pt !important;
	color: #87BB56 !important;
	line-height: 20px;
}

#output2 > div > p {
	font-family: Tahoma,Geneva,sans-serif !important;
	font-size: 9pt !important;
    color: #222 !important;
    padding: 0 !important;
    margin: 6px 0 0 !important;
    overflow: hidden !important;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}


/* New employees */

.employee_table_list {
	width: 100%;
	font-family: Tahoma,Geneva,sans-serif;
}

.employee_table_list .ecard_padd {
	display: inline-block;
    font-size: 9px;
    margin: 0 6px 8px;
    min-height: 94px;
    padding: 0;
    text-align: center;
    width: 66px;
}

.employee_table_list .ecard_padd a {
    color: #87BB56;
    text-decoration: none;
}

.employee_table_list .ecard_photo_img {
	padding: 3px;
	background: #dee5c4;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.employee_table_list .ecard_photo_img img {
	width: 60px;
	height: 60px;
    border-style: none;
}

.employee_table_list .ecard_txt {
	margin-top: 2px;
}

.employee_table_list .ecard_padd .ecard_txt_birthday_today  a {
	color: #dd0000;
}

.employee_table_list .ecard_shad_bttm_lft,
.employee_table_list .ecard_shad_bttm_rgt {
	display: none;
}

.refresh {
	width: 100%;
	text-align: right;
	border-top: 1px dashed #aaa;
	padding-top: 8px;
}