<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserFromConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <UserFromConsoleApplication.Properties.Settings>
        <setting name="sharePointUrl" serializeAs="String">
          <value>http://intranet.contoso.com</value>
        </setting>
        <setting name="sharePointUserProfilesUrl" serializeAs="String">
          <value>http://intranet.contoso.com/my</value>
        </setting>
        <setting name="soapServerUrl" serializeAs="String">
          <value>http://v81c.contoso.com/v81c_hrm_demo/ws/AddressBook</value>
        </setting>
        <setting name="soapServerUser" serializeAs="String">
          <value>silver</value>
        </setting>
        <setting name="soapServerPassword" serializeAs="String">
          <value>Rbc123!_</value>
        </setting>
        <setting name="accountNameIsAKey" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="innIsAKey" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="updateProfileDisplayName" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateLastName" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateFirstName" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateMiddleName" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateBirthday" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updatePhoneWork" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateEmailWork" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updatePhoneHome" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateEmailHome" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateINN" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateSSN" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateOrganization" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateSubDivision" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateSeparateDivision" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updatePosition" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updateDateOfEmployment" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="updatePhoto" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="forceUpdatePhoto" serializeAs="String">
          <value>False</value>
        </setting>
      </UserFromConsoleApplication.Properties.Settings>
    </userSettings>
</configuration>