<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PBMangePhoto.Properties.Settings.connectionStringOmniTrackerDb"
            connectionString="Data Source=NESO;Initial Catalog=OmniTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PBMangePhoto.Properties.Settings.connectionStringMriyaDataDb"
            connectionString="Data Source=NESO;Initial Catalog=MriyaUserData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>