.announcement-list  {
	font-family: Tahoma,sans-serif;
	font-size: 9pt;
	color: #7f7f7f;
}

.announcement-list .ms-viewheadertr th a {
	font-family: Tahoma,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #7f7f7f;
	text-decoration: none;
}

.announcement-list .ms-viewheadertr th a:hover {
	color: #7f7f7f;
	text-decoration: underline;
}

.announcement-list .ms-vb2 {
	font-family: Tahoma,sans-serif;
	font-size: 9pt;
	color: #7f7f7f;
}

.announcement-list .ms-vb2 a {
	font-family: Tahoma,sans-serif;
	font-size: 10pt;
	color: #8A009D;
}

.announcement-list .ms-vb2 a:hover {
	color: #8A009D;
}
