<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_1CSoapService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_1CSoapService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <_1CSoapService.Properties.Settings>
            <setting name="_1CSoapService_test1c_AddressBook_AddressBook"
                serializeAs="String">
                <value>http://v81c.contoso.com/v81c_hrm_demo/ws/AddressBook</value>
            </setting>
        </_1CSoapService.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <_1CSoapService.Properties.Settings>
            <setting name="soapServerUrl" serializeAs="String">
                <value>http://v81c.contoso.com/v81c_hrm_demo/ws/AddressBook</value>
            </setting>
            <setting name="soapServerUser" serializeAs="String">
                <value>silver</value>
            </setting>
            <setting name="soapServerPassword" serializeAs="String">
                <value>Rbc123!_</value>
            </setting>
        </_1CSoapService.Properties.Settings>
    </userSettings>
</configuration>